.App {
    width: 90vw;
    margin: 0 auto;
    height: 90vh;
    background: #d9d4e7;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}

.title {
    padding: 1.5rem;
    margin-top: 3rem;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    margin: 3rem 0px;
}
